[Desktop Entry]
Version=1.0
Name=VQR
Comment=Professional QR Code Scanner and Creator
Exec=/usr/bin/vqr
Icon=vqr
Terminal=false
Type=Application
Categories=Utility;Office;
